    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&amp;subset=latin-ext" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-light fixed-top">
	<div class="container">
	  <a class="navbar-brand" href="/">LOGO</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <a class="nav-link" href="#">WSTECZ</a>
	      </li>
	      <form method="POST" action="/posts/time">
	      	<li class="nav-item">
	      		<input name="category" id="#invisible" style="display: none" value="<%= category%>">
	      		<input name="time" id="#invisible" style="display: none" value="24h">
		       <button class="timeButton" type="submit" class="nav-link" id="24h">24h</button>
		    </li>
	      </form>
	      <form method="POST" action="/posts/time">
	      	<li class="nav-item">
	      		<input name="category" id="#invisible" style="display: none" value="<%= category%>">
	      		<input name="time" id="#invisible" style="display: none" value="48h">
		       <button class="timeButton" type="submit" class="nav-link" id="48h">48h</button>
		    </li>
	      </form>
	      <form method="POST" action="/posts/time">
	      	<li class="nav-item">
	      		<input name="category" id="#invisible" style="display: none" value="<%= category%>">
	      		<input name="time" id="#invisible" style="display: none" value="72h">
		       <button class="timeButton" type="submit" class="nav-link" id="72h">72h</button>
		    </li>
	      </form>	
	    </ul>
	    <form class="form-inline my-2 my-lg-0" id="searchForm" action="/posts/find" method="POST">
	      <input class="form-control mr-sm-2" type="search" placeholder="SZUKAJ" aria-label="Search" name="toFind">
	      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">SZUKAJ</button> -->
	    </form>
	    <ul class="navbar-nav">
	    	<% if (!currentUser) {%>
	    		<li class="nav-item">
			    	<a href="/users/login" class="btn btn-light">LOG/REJ</a>
			    </li>
	    	<% } else { %>
	    		<a href="/posts/new" class="btn btn-light" id="dodaj">DODAJ</a>
		    	<a href="/users/logout" class="btn btn-light">WYLOGUJ SIĘ</a>
		    <% } %>
	    </ul>
	    
	  </div>
	</div>
</nav>


