<% include ./partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">

<% include ./partials/navbar %>



<div class="container" id="mainContainer">
  <div class="container" id="menuContainer">
      <div class="table-responsive">
        <table class="table">
            <tr>
              <th><a href="#">Hity</a></th>
              <th><a href="#">Wykopalisko</a></th>
              <th><a href="#">Blogi</a></th>
              <th><a href="#">Wydarzenia</a></th>
              <th><a href="#">Filmy</a></th>
            </tr>
        </table>
      </div>
  </div>

  <% include ./partials/flash %>

  <div class="row">
      <div class="col-sm-12">
         <div class="card" id="headerCard">
          <div class="row">
              <div class="col-md-8">
                  <img src="https://i.imgur.com/VG2UvcY.jpg" class="card-img-left">
              </div>
              <div class="col-md-4">
                  <div class="card-body">
                    <h3 class="card-title">Card title ew f wew we ewf ewf wef ew wef ew ewf </h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
              </div>
            </div> 
         </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
          <img class="card-img-top" src="http://static.digg.com/images/8210ad96b38a4632824fcb6740348a93_2DJa9sW_1_www_marquee_standard.jpeg">
            <div class="card-body">
            <h3 class="card-title">Card title</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
          <img class="card-img-top" src="https://i.imgur.com/VG2UvcY.jpg">
            <div class="card-body">
            <h3 class="card-title">Card title</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
          <img class="card-img-top" src="http://static.digg.com/images/8210ad96b38a4632824fcb6740348a93_2DJa9sW_1_www_marquee_standard.jpeg">
            <div class="card-body">
            <h3 class="card-title">Card title</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
          <img class="card-img-top" src="https://i.imgur.com/VG2UvcY.jpg">
            <div class="card-body">
            <h3 class="card-title">Card title</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
          <img class="card-img-top" src="https://i.imgur.com/VG2UvcY.jpg">
            <div class="card-body">
            <h3 class="card-title">Card title</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
          <img class="card-img-top" src="https://i.imgur.com/VG2UvcY.jpg">
            <div class="card-body">
            <h3 class="card-title">Card title</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
          <img class="card-img-top" src="https://i.imgur.com/VG2UvcY.jpg">
            <div class="card-body">
            <h3 class="card-title">Card title</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
          <img class="card-img-top" src="https://i.imgur.com/VG2UvcY.jpg">
            <div class="card-body">
            <h3 class="card-title">Card title</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
          <img class="card-img-top" src="https://i.imgur.com/VG2UvcY.jpg">
            <div class="card-body">
            <h3 class="card-title">Card title</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
          <img class="card-img-top" src="https://i.imgur.com/VG2UvcY.jpg">
            <div class="card-body">
            <h3 class="card-title">Card title</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
          <img class="card-img-top" src="https://i.imgur.com/VG2UvcY.jpg">
            <div class="card-body">
            <h3 class="card-title">Card title</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
          <img class="card-img-top" src="https://i.imgur.com/VG2UvcY.jpg">
            <div class="card-body">
            <h3 class="card-title">Card title</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
          <img class="card-img-top" src="https://i.imgur.com/VG2UvcY.jpg">
            <div class="card-body">
            <h3 class="card-title">Card title</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
          <img class="card-img-top" src="https://i.imgur.com/VG2UvcY.jpg">
            <div class="card-body">
            <h3 class="card-title">Card title</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
          <img class="card-img-top" src="https://i.imgur.com/VG2UvcY.jpg">
            <div class="card-body">
            <h3 class="card-title">Card title</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
      
      
  </div>







</div>

<% include ./partials/footer %>