<!-- <form class="form-signin" action="/users/login" method="POST">
  <h2 class="form-signin-heading">Please sign in</h2>

  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>

  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>

  <br/>
  
  <button class="btn btn-lg btn-default btn-block" type="submit">Sign in</button>
</form>
 -->
<% include ./partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">

<nav class="navbar navbar-expand-lg navbar-light fixed-top">
	<div class="container">
	  <a class="navbar-brand" href="/">LOGO</a>
	  </div>
	</div>
</nav>


<div class="container">
  
<div style="margin-top: 20px;">
  <% include ./partials/flash %>
</div>


      <form class="form-signin" action="/users/login" method="POST" id="form1">
        <h2 class="form-signin-heading">Zaloguj się</h2>
        <label for="inputEmail" class="sr-only">Email</label>
        <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        <label for="inputPassword" class="sr-only">Hasło</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Hasło" required>
        <!-- <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Zapamiętaj mnie
          </label>
        </div> -->
        <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="convert()">Zaloguj się</button>
        <br>
        <a href="/users/register"><p>Nie masz jeszcze konta? <br> Zarejestruj się teraz!</p></a>
      </form>

      <!-- <div id="loginButtons">
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.12&appId=2063511227202651&autoLogAppEvents=1';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>


        <div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
      </div> -->
      


</div> <!-- /container -->

<script type="text/javascript">
  function convert() 
  {
    var str;
    str = document.getElementById("inputEmail");
    str.value = (str.value.toLowerCase());
    //get the form id and submit it
    var form = document.getElementById("form1");
    form.submit();
  }  
</script>



<% include ./partials/footer %>

